.banner {
    &__container {
       position: relative;
    }
    &__logo {
        height: 505px;
        position: relative;
        z-index: 10;
        padding-top: 30px;
        &_bg {
            background-color: $bg-color;
        }
    }
    &__image {
        position: absolute;
        top: 0;
        right: 0;
        img {
            width: 100%;
        }
    }
}

@media (max-width: 945px) {
    .banner {
        &__logo {
            display: none;
        }
        &__image {
            position: static;
        }
    }
}

@media (max-width: 860px) {
    .banner {
        &__logo {
            text-align: center;
            padding-top: 36px;
            padding-bottom: 36px;
            height: auto;
            &_bg {
                background-color: $bg-color;
            }
        }
    }
}