.price {
    padding-bottom: calc(25px + (250 - 25) * ((100vw - 320px) / (1920 - 320)));
    position: relative;
    background-color: $bg-color;
    &__container {
        position: relative;
        max-width: 971px;
        background-color: #fff;
        z-index: 5;
    }
    &__content {
        max-width: 863px;
        padding-left: 20px;
        padding-left: 20px;
        padding-bottom: calc(20px + (70 - 20) * ((100vw - 320px) / (1920 - 320)));
    }
    &__title {
       padding-top: calc(34px + (83 - 34) * ((100vw - 320px) / (1920 - 320)));
       margin-bottom: 105px;
       margin-left: 20px;
    }
    &__item {
        &_header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &_title,
        &_price {
            font-weight: 400;
            font-family: $title-font;
            font-size: calc(19px + 6 * ((100vw - 320px) / (1920 - 320)));
        }
        &_title {
            width: 85%;
            border-bottom: 0.5px solid  $main-color;
            padding-bottom: 10px;
            margin-bottom: calc(17px + (20 - 17) * ((100vw - 320px) / (1920 - 320)));
        }
        &_desc {
            max-width: 670px;
            font-size: calc(16 + 2 * ((100vw - 320px) / (1920 - 320)));
            line-height: 145%;
            margin-top: 0;
            margin-bottom: calc(45px + (70 - 45) * ((100vw - 320px) / (1920 - 320)));
        }
    }
    &__image {
        position: absolute;
        top: -100px;
        right: 0;
        object-fit: cover;
        &_media {
            display: none;
        }
    }
}

@media(max-width: 1310px) {
    .price {
        &__container {
            max-width: 800px;
        }
    }
}

@media(max-width: 1200px)  {
    .price {
        &__container {
            max-width: 680px;
        }
    }
}


@media(max-width: 768px) {
    .price {
        &__container {
            max-width: 971px;
            margin: 0 10px;
        }
        &__content {
            margin-bottom: 65px;
        }
        &__title {
            margin-bottom: 220px;
        }
        &__item { 
            &_title {
                width: 100%;
            }
            &_price  {
                margin-top: -50px;
            }
        }
        &__image {
            display: none;
            &_media {
                display: block;
                position: absolute;
                top: 0;
                right: 10px;
                z-index: 20;
            }
         }
    }
}
