.rules {
    position: relative;
    &__wrapper {
        background: url('../assets/img/nails-5.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: calc(45px + (145 - 45) * ((100vw - 320px) / (1920 - 320)));
    }
    &__title {
        padding-top: calc(42px + (77 - 42) * ((100vw - 320px) / (1920 - 320)));
        margin-bottom: calc(15px + (20 - 15) * ((100vw - 320px) / (1920 - 320)));
        margin-left: calc(32px + (115 - 32) * ((100vw - 320px) / (1920 - 320)));
    }
    &__subtitle {
        font-size: calc(30px + 30 * ((100vw - 320px) / (1920 - 320)));
        font-weight: 400;
        font-family: $title-font;
        margin-bottom: 10px;
        margin-top: 0;
        margin-left: calc(32px + (115 - 32) * ((100vw - 320px) / (1920 - 320)));
    }
    &__desc {
        max-width: 630px;
        font-family: $title-font;
        font-size: calc(20px + 10 * ((100vw - 320px) / (1920 - 320)));
        padding-bottom: calc(42px + (77 - 42) * ((100vw - 320px) / (1920 - 320)));
        line-height: 136%;
        margin-left: calc(32px + (115 - 32) * ((100vw - 320px) / (1920 - 320)));
    }
    &__container {
        position: relative;
        display: flex;
        gap: calc(20px + (62 - 20) * ((100vw - 320px) / (1920 - 320)));
        margin-left: calc(5px + (115 - 5) * ((100vw - 320px) / (1920 - 320)));
    }
    &__text {
        max-width: 430px;
        margin-bottom: calc(35px + (54 - 35) * ((100vw - 320px) / (1920 - 320)));
        padding-left: calc(10px + (27 - 10) * ((100vw - 320px) / (1920 - 320)));
        font-size: calc(16px + 2 * ((100vw - 320px) / (1920 - 320)));
        line-height: calc(23px + 2 * ((100vw - 320px) / (1920 - 320)));
        border-left: 1px solid $main-color;
        span {
            font-weight: 600;
        }
    }
    &__image {
        position: absolute;
        top: 37%;
        right: 0;
        &_media {
            display: none;
        }
    }
    &__footer {
        background-color: $bg-color;
        padding: calc(27px + (85 - 27) * ((100vw - 320px) / (1920 - 320))) 0;
        &_text {
            max-width: 663px;
            font-family: $title-font;
            font-size: calc(20px + 10 * ((100vw - 320px) / (1920 - 320)));
            margin-left: calc(27px + (200 - 27) * ((100vw - 320px) / (1920 - 320)));
        }
    }
}

// @media (max-width:1300px) {
//     .rules {
//         &__image {
//             display: none;
//         }
//     }
// }

@media (max-width:1300px) {
    .rules {
        &__text {
            max-width: 380px;
        }
    }
}

@media (max-width:1180px) {
    .rules {
        &__text {
            max-width: 300px;
        }
    }
}

@media (max-width:1000px) {
    .rules {
        &__image {
            display: none;
        }
        &__container {
            display: block;
        }
        &__text {
            max-width: 100%;
        }
    }
}

@media (max-width:768px) {
    .rules {
        &__image {
           &_media {
            display: block;
            text-align: center;
            margin-bottom: 27px;
           }
        }
    }
}